<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LiteratureWebsite</display-name>
  
<filter>  
    <filter-name>encodingFilter</filter-name>  
    <filter-class>com.website.servlet.GetMethodEncodingFilter</filter-class>  
</filter>  
<filter-mapping>  
    <filter-name>encodingFilter</filter-name>  
    <url-pattern>/*</url-pattern>  
</filter-mapping>
  
  <servlet>
    <servlet-name>getCode</servlet-name>
    <servlet-class>com.website.servlet.Mail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCode</servlet-name>
    <url-pattern>/public/getCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.website.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/public/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.website.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/public/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>news</servlet-name>
    <servlet-class>com.website.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news</servlet-name>
    <url-pattern>/public/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>activities</servlet-name>
    <servlet-class>com.website.servlet.ActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>activities</servlet-name>
    <url-pattern>/public/activities</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login/out</servlet-name>
    <servlet-class>com.website.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login/out</servlet-name>
    <url-pattern>/public/login/out</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin/users</servlet-name>
    <servlet-class>com.website.servlet.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin/users</servlet-name>
    <url-pattern>/views/admin/admin/usersList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.website.servlet.UpLoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertActivity</servlet-name>
    <servlet-class>com.website.servlet.AddActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertActivity</servlet-name>
    <url-pattern>/views/admin/admin/sureAddActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertNews</servlet-name>
    <servlet-class>com.website.servlet.AddNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertNews</servlet-name>
    <url-pattern>/views/admin/admin/sureAddNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>alteruserRole</servlet-name>
    <servlet-class>com.website.servlet.AlterUserRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alteruserRole</servlet-name>
    <url-pattern>/views/admin/admin/usersRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>activitiesYearList</servlet-name>
    <servlet-class>com.website.servlet.GetActivitiesyears</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>activitiesYearList</servlet-name>
    <url-pattern>/views/admin/admin/activitiesYearList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getactivitiesbyYear</servlet-name>
    <servlet-class>com.website.servlet.GetActivitiesByYears</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getactivitiesbyYear</servlet-name>
    <url-pattern>/views/admin/admin/activitiesThisYear</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>add_article</servlet-name>
    <servlet-class>com.website.servlet.AddArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_article</servlet-name>
    <url-pattern>/public/admin/addArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delete_activity</servlet-name>
    <servlet-class>com.website.servlet.DeleteActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_activity</servlet-name>
    <url-pattern>/views/admin/admin/delete_activity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>get_article_by_activityId</servlet-name>
    <servlet-class>com.website.servlet.GetActiclesByActivityId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>get_article_by_activityId</servlet-name>
    <url-pattern>/views/admin/articlesManage/articles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteArticleById</servlet-name>
    <servlet-class>com.website.servlet.DeleteArticleByArcticleId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteArticleById</servlet-name>
    <url-pattern>/views/admin/deleteArticleByArcticleId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetArticlePrize</servlet-name>
    <servlet-class>com.website.servlet.SetArticlePrize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetArticlePrize</servlet-name>
    <url-pattern>/views/admin/setArticlePrize</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addComment</servlet-name>
    <servlet-class>com.website.servlet.AddComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addComment</servlet-name>
    <url-pattern>/views/admin/addComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getComment10</servlet-name>
    <servlet-class>com.website.servlet.GetComment10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getComment10</servlet-name>
    <url-pattern>/views/admin/getComment10</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addZan</servlet-name>
    <servlet-class>com.website.servlet.AddZan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addZan</servlet-name>
    <url-pattern>/views/admin/addZan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getNewsAllYear</servlet-name>
    <servlet-class>com.website.servlet.GetNewsAllYear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getNewsAllYear</servlet-name>
    <url-pattern>/views/admin/getNewsAllYear</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getNewsYears</servlet-name>
    <servlet-class>com.website.servlet.GetNewsYears</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getNewsYears</servlet-name>
    <url-pattern>/views/admin/getNewsYears</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getAllNews</servlet-name>
    <servlet-class>com.website.servlet.GetAllNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllNews</servlet-name>
    <url-pattern>/views/admin/getAllNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteNewByID</servlet-name>
    <servlet-class>com.website.servlet.DeleteNewByID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteNewByID</servlet-name>
    <url-pattern>/views/admin/deleteNewByID</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>alterUserInfo</servlet-name>
    <servlet-class>com.website.servlet.AlterUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alterUserInfo</servlet-name>
    <url-pattern>/public/alterUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getUserInfo</servlet-name>
    <servlet-class>com.website.servlet.GetUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserInfo</servlet-name>
    <url-pattern>/public/getUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>publishActivity</servlet-name>
    <servlet-class>com.website.servlet.PublishActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>publishActivity</servlet-name>
    <url-pattern>/views/admin/publishActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getActivityPublishYear</servlet-name>
    <servlet-class>com.website.servlet.GetActivityPublishYear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getActivityPublishYear</servlet-name>
    <url-pattern>/public/getActivityPublishYear</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getActivityPublish</servlet-name>
    <servlet-class>com.website.servlet.GetActivityPublish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getActivityPublish</servlet-name>
    <url-pattern>/public/getActivityPublish</url-pattern>
  </servlet-mapping>
</web-app>